# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.venv/

# Build outputs
build/
dist/
*.egg-info/

# others
/data/*
/res/experiments/
*.log
.ipynb_checkpoints/
report.md
./CLASSIFICATION.md
./report.md
